global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":7000"
  
  primary:
    address: ":5000"
    transport:
      respondingTimeouts:
        readTimeout: "0s"
        writeTimeout: "0s"
        idleTimeout: "180s"
  
  replicas:
    address: ":5001"
    transport:
      respondingTimeouts:
        readTimeout: "0s"
        writeTimeout: "0s"
        idleTimeout: "180s"

providers:
  file:
    filename: /etc/traefik/dynamic_config.yml
    watch: true

log:
  level: INFO
  format: common

accessLog:
  format: common
  fields:
    defaultMode: keep
    headers:
      defaultMode: keep
